* {
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;

    --main-background-1 : hsl(222, 26%, 31%);
    --main-background-2 : hsl(0, 0%, 93%);
    --main-background-3 : hsl(268, 75%, 9%);
    
    --secondary-background-1 : hsl(223, 31%, 20%);
    --secondary-background-2 : hsl(0, 5%, 81%);
    --secondary-background-3 : hsl(268, 71%, 12%);

    --screen-background-1 : hsl(224, 36%, 15%);
    --screen-background-2 : hsl(0, 0%, 93%);
    --screen-background-3 : hsl(268, 71%, 12%);

    --key-special-background-1 : hsl(225, 21%, 49%);
    --key-special-background-2 : hsl(185, 42%, 37%);
    --key-special-background-3 : hsl(281, 89%, 26%);

    --key-special-shadow-1 : hsl(224, 28%, 35%);
    --key-special-shadow-2 : hsl(185, 58%, 25%);
    --key-special-shadow-3 : hsl(285, 91%, 52%);

    --key-enter-background-1 : hsl(6, 63%, 50%);
    --key-enter-background-2 : hsl(25, 98%, 40%);
    --key-enter-background-3 : hsl(176, 100%, 44%);
    
    --key-enter-shadow-1 : hsl(6, 70%, 34%);
    --key-enter-shadow-2 : hsl(25, 99%, 27%);
    --key-enter-shadow-3 : hsl(177, 92%, 70%);

    --key-normal-background-1 : hsl(30, 25%, 89%);
    --key-normal-background-2 : hsl(45, 7%, 89%);
    --key-normal-background-3 : hsl(268, 47%, 21%);

    --key-normal-shadow-1 : hsl(28, 16%, 65%);
    --key-normal-shadow-2 : hsl(35, 11%, 61%);
    --key-normal-shadow-3 : hsl(290, 70%, 36%);

    --key-special-text-1 : hsl(0, 0%, 100%);
    --key-special-text-2 : hsl(60, 10%, 19%);;
    --key-special-text-3 : hsl(0, 0%, 100%);

    --key-enter-text-1 : hsl(0, 0%, 100%);
    --key-enter-text-2 : hsl(60, 10%, 19%);
    --key-enter-text-3 : hsl(198, 20%, 13%);

    --key-normal-text-1 : hsl(221, 14%, 31%);
    --key-normal-text-2 : hsl(60, 10%, 19%);
    --key-normal-text-3 : hsl(52, 100%, 62%);

    --screen-text-1 : hsl(0, 0%, 100%);
    --screen-text-2 : hsl(0, 0%, 100%);
    --screen-text-3 : hsl(52, 100%, 62%);
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.main {
    background-color: var(--main-background-1);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container {
    width: clamp(50px, 30em, 80%);
}

.keypad {
    background-color: var(--secondary-background-1);
    border-radius: 1em;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px 10px;
    padding: 1em 1em;
}

.keypad button {
    background-color: var(--key-normal-background-1);
    border: none;
    box-shadow: 0 4px var(--key-normal-shadow-1);
    color: var(--key-normal-text-1);
    height: 2em;
    border-radius: .25em;
    font-size: 32px;
}

.keypad .special {
    background-color: var(--key-special-background-1);
    box-shadow: 0 4px var(--key-special-shadow-1);
    color: var(--key-special-text-1);
}

.keypad .reset {
    grid-column: span 2;
}

.keypad .equals {
    grid-column: span 2;
    background-color: var(--key-enter-background-1);
    box-shadow: 0 4px var(--key-enter-shadow-1);
    color: var(--key-enter-text-1);
}

.screen {
    background-color: var(--screen-background-1);
    color: var(--screen-text-1);
    border-radius: .25em;
    font-size: 32px;
    width: 100%;
    height: 2em;
    padding: .5em .5em;
    text-align: right;
}

.top {
    color: var(--screen-text-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3em;
}

.top .theme-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top .theme-selection .selector {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.selector .slider-container {
    grid-column: span 3;
    width: 4em;
}

.selector .slider-container input {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--secondary-background-1);
    width: 100%;
    border-radius: 100em;
}

.selector .slider-container input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    border: none;
    border-radius: 50%;
    background-color: var(--key-enter-background-1);
}